.fullwidth-block{
	padding: 70px 0;

	.section-title{
		@include em(36);
		font-weight: 300;
		color: white;
	}
}

.filter{
	margin-bottom: 30px;
}
.filter-control{
	border:2px solid $secondary-color;
	padding: 5px 5px 5px 20px;
	border-radius: 30px;
	display: inline-block;
	white-space: nowrap;

	label{
		margin-right: 10px;
		display: inline-block;
		padding: 10px;
		vertical-align: middle;
	}


}
.select.control{
	background: $secondary-color;
	border-radius: 40px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	padding-right: 30px;
	position: relative;

	&:after{
		content:" ";
		width:7px;
		height:9px;
		background: url(images/arrow-down.png);
		position: absolute;
		right: 10px;
		top:0;
		bottom:0;
		margin: auto;
		display: block;
		z-index: 1;

	}

	select{
		padding: 10px 30px;
		width: 110%;
		border: none;
		background: none;
		outline: none;
		appearance: none;
		-webkit-appearance: none;
		color: white;
	}
}
.live-camera{
	margin-bottom: 30px;
	.live-camera-cover{
		position: relative;
		margin-bottom: 20px;
		cursor: pointer;

		&:after{
			content:" ";
			width: 45px;
			height: 45px;
			@include cover;
			margin: auto;
		}

		img{
			display: block;
			width: 100%;
			height: auto;
			max-width: 100%;
			border-radius: 5px;
		}
	}

	.location{
		margin-bottom: 5px;
		color: white;
		font-weight: 300;
	}
}

.news{
	padding-left: 100px;
	position: relative;

	&:after{
		content:" ";
		width: 12px;
		height: 7px;
		background: url(images/arrow.png);
		display: block;
	}

	.date{
		position: absolute;
		top:0;
		left:0;
		color: $accent-color;
		@include em(24);
	}

	h3{
		@include em(14);
		a{color: white}
	}
}

.arrow-feature{
	list-style-type: none;
	li{
		position: relative;
		padding-left: 30px;

		&:before{
			content:" ";
			width: 12px;
			height: 7px;
			background: url(images/arrow.png);
			position: absolute;
			left: 0;
			top:5px;
		}

		h3{
			@include em(14);
			color: white
		}
	}
}
.arrow-list{
	list-style-image: url(images/arrow.png);
	list-style-position: inside;

	li{
		padding: 10px 0;
		border-bottom: 1px solid rgba(255,255,255,.1);

		&:last-child{border-bottom: none}
	}
	a{
		color :white;

		&:hover{
			color: $accent-color;
		}
	}
}
.photo-grid{
	margin: 0 -5px;
	a{
		width: 33.333%;
		padding: 5px;
		float: left;

		img{
			display: block;
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}
}

.breadcrumb{
	background: $secondary-color;
	border-radius: 40px;
	padding: 20px 30px;
	@include em(13);
	a{
		color: $body-color;

		&:after{
			content:" ";
			display: inline-block;
			vertical-align: middle;
			width: 12px;
			height: 7px;
			background: url(images/arrow-gray.png) no-repeat;
			margin: 0 10px;

		}

		&:hover{text-decoration: underline;}
	}
	span{color: white}
}

.post{
	padding: 50px 0;
	border-bottom: 1px solid rgba(255,255,255,.1);

	&.single{border-bottom: none;}

	&:first-child{
		padding-top: 0;
	}
	.entry-title{
		@include em(30);
		font-weight: 300;
		color: white;
	}
	.featured-image{
		margin-bottom: 20px;
		img{
			width: 100%;
			max-width: 100%;
			height: auto;
			border-radius: 5px;
			display: block;
		}
	}

	p{ margin-bottom: 30px; }
}

.entry-content{
	blockquote{
		margin-left: 50px;
		padding-left: 50px;
		position: relative;

		&:before{
			content:" ";
			width: 30px;
			height: 23px;
			background: url(images/quote.png);
			position: absolute;
			top:0;
			left:0;
		}

		p{
			@include rem(24);
			color: $accent-color;
		}
	}
}

.photo{
	position: relative;
	padding-left: 50%;
	min-height: 190px;
	border-radius: 10px;
	overflow: hidden;
	background: $secondary-color;
	margin-bottom: 30px;

	.photo-preview{
		position: absolute;
		width: 50%;
		left:0;
		top:0;
		bottom:0;
		background-size: cover;
	}

	.photo-details{
		padding: 20px;
	}

	.photo-title{
		margin-bottom: 10px;
		font-weight: 300;
		a{color: white}
	}
}

.star-rating {
	float: none;
	overflow: hidden;
	position: relative;
	height: 15px;
	line-height: 15px;
	font-size: 16px;
	width: 100px;
	font-family: 'FontAwesome';

	&:before {
		content: "\f005\f005\f005\f005\f005";
		color: $bg-color;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
	}
	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
		color: $accent-color;
		font-size: 16px;
	}
	span:before {
		content: "\f005\f005\f005\f005\f005";
		top: 0;
		position: absolute;
		left: 0;
	}
}

.contact-details{
	background: $secondary-color;
	border-radius: 10px;
	overflow: hidden;

	.map{
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.contact-info{
		padding: 20px;
	}
	address{
		padding-left: 30px;
		position: relative;
		img{
			position: absolute;
			left:0;
			top:0;
		}
	}
	a{
		margin-right: 20px;
		color: $body-color;

		img{
			margin-right: 10px;
			vertical-align: middle;
		}
	}
}

.contact-form{
	[class*="col"]{padding: 0 5px}
	.row{margin: 0 -5px}
	input:not([type="submit"]),textarea{
		width: 100%;
		padding: 15px;
		margin-bottom: 10px;
		color: white;
		border: 2px solid #393c48;
		background: transparent;

		&:hover,&:focus{
			border-color: $accent-color
		}
	}
	textarea{min-height: 150px}

	.text-right{text-align: right;}
}
.forecast-container{
    display: flex;
    flex-flow: row wrap;
	width: 100%;
	background: #323544;	
	width: 100%;
	overflow: hidden;
	border-radius: $default-radius;
	margin-top: -150px;
	margin-bottom: 50px;
    
    @include when(lg){
        flex-flow: row nowrap;
    }
    
	.forecast{
		@media screen and (max-width: 990px){
			display: block;
			width: 16.6667%;
			float: left;
		}

		&.today{
            width: 100%;
            @include when(lg){
                min-width: 450px;
                width: 460px;
            }
			

			.forecast-header{
				@include clearfix;
				.day{float: left}
				.date{float: right}
				
			}
			.forecast-content{
                display: flex;
                flex-flow: row wrap;
				text-align: left;
				padding-top: 30px;
				padding-bottom: 30px;
                
                .location-temp{
                    flex-basis: 60%;                    
                }                
                .forecast-icon {
                    flex-basis: 40%;
                    text-align: center;
                    & > img{
                        width: 100px;                        
                    }
                    .description{
                        text-align: center;
                    }
                    
                    & > i {
                        font-size: 8em;
                        line-height: 1;
                        position: relative;
                        top: -100%;
                    }
                }    
                .details {
                    display: flex;
                    flex-basis: 100%;
                    flex-flow: column;
                    @include when(md){
                        flex-basis: 60%;
                    }
                    div{
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        span {
                            &:nth-of-type(2){
                                flex-basis: 50%;
                            }
                        }
                    }
                }
			}
			.location{
				@include em(21);
				font-weight: 400;
                flex-basis: 100%;
                width: 100%;
			}
			.degree{
				font-size: 7vh;
				margin-right: 30px;                
                display: inline-block; 
                font-weight: 800;
				.forecast-icon{
					display: inline-block;
					vertical-align: middle;
				}
                @include when(sm){
                    
                }
			}
			span{				
				img{
					margin-right: 5px;
					vertical-align: middle;
				}
			}
		}

		.forecast-header{
			background: rgba(0,0,0,.1);
			padding: 10px;
			text-align: center;
			font-weight: 400;
            height: 45px;
		}

        i {
            margin-right: .5em;
        }
		.forecast-content{
			padding:  1vh 20px 5vh;
			text-align: center;
			small{@include em(16)}
		}
        &.next{
            display: flex;
            flex-flow: column;
            min-width: (540/5)*1px;
            .forecast-content{
                display: flex;
                flex-flow: column;
                align-items: center;
          		.forecast-icon{	
                    padding-top: 5vh;
                    img{
                        width: 50px;
                    }
                    .description{
                        font-size: 80%;
                    }
                }
                .degree{
                    font-weight: 800;
                    font-size: 1.6em;
                }
            }   
        }
	}
}
.days{
    display: flex;
    flex-flow: row wrap;
    flex-basis: 100%;
    .forecast{
        flex-grow: 1;
		&:nth-child(2n+1){
			background-color: #262936;
		}           
    }
}
.forecast {
    .city-weather{
        .forecast-content{
            padding: 0 1em 1em;
        }
    }
    .degree{
        font-weight: 800;
        font-size: 1.3em;
    }   
    &>a{
        &:focus{
            outline: none;      
        }
    }
}
#default-city{
    a{
        &:focus{
            outline: none;
        }
    }
}