$RalewayWebfontPath: "../fonts";
$RalewayWebfontName: "Raleway";

@font-face {
    font-family: $RalewayWebfontName;
    src: url('#{$RalewayWebfontPath}/raleway-regular.eot');
    src: url('#{$RalewayWebfontPath}/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('#{$RalewayWebfontPath}/raleway-regular.woff') format('woff'),
         url('#{$RalewayWebfontPath}/raleway-regular.ttf') format('truetype'),
         url('#{$RalewayWebfontPath}/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $RalewayWebfontName;
    src: url('#{$RalewayWebfontPath}/raleway-extrabold.eot');
    src: url('#{$RalewayWebfontPath}/raleway-extrabold.eot?#iefix') format('embedded-opentype'),
         url('#{$RalewayWebfontPath}/raleway-extrabold.woff') format('woff'),
         url('#{$RalewayWebfontPath}/raleway-extrabold.ttf') format('truetype'),
         url('#{$RalewayWebfontPath}/raleway-extrabold.svg#ralewayextrabold') format('svg');
    font-weight: 800;
    font-style: normal;
}