@mixin clearfix {
    *zoom:1;
    
    &:after {
		content : " ";
		clear   : both;
		display : block; 
		overflow: hidden; 
		height  : 0; 
    }
}

@mixin size($width, $height:$width){
	width : $width;
	height: $height;
}

@mixin cover(){
	position:absolute;
	left    :0;
	right   :0;
	top     :0;
	bottom  :0;
}

@mixin auto_center($width, $height:$width){
	@include cover();
	margin: auto;
}


// Converting PX value to EM based on browser-context variable
// Usage: @include em(16)
@mixin em($pixels, $context: $browser-context) {
	font-size: #{$pixels}px;
	font-size: #{$pixels/$context}em;
}

@mixin rem($pixels, $context: $browser-context) {
	font-size: #{$pixels}px;
	font-size: #{$pixels/$context}rem;
}
/*
 * Global Styles
 */

$browser-context: 16; // Default

html{font-size   : #{$browser-context}px;}

body {
	color       : $body-color;
	font-family : $primary-font;
	font-size   : #{$browser-context}px;
	font-weight : 300;
	line-height : 1.5;
	background: $bg-color;

}

h1,h2,h3,h4,h5,h6{
	font-weight : 700;
	margin      : 0 0 20px;
	line-height: normal;
}

hr{ 
	border: none;
	border-bottom: 1px solid #777;
}

ul, ol {
	margin: 0;
	padding-left: 0;
}

a { 
	text-decoration: none;
	color: $accent-color;
}

address { font-style: normal }

p{ margin-top: 0 }

.button{
	border: none;
	background: $accent-color;
	padding: 10px 20px;
	border-radius: $default-radius;
	color: white;
    cursor: pointer;
}

.map{
	height: 220px;
}

form{

	input,textarea,select{
		outline: none;
		border: none;
		padding: 10px;
		border-radius: $default-radius;
	}
	select{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	textarea{
		resize: vertical;
	}
	input[type="submit"],button, input[type="reset"]{
		@extend .button;
	}

}
