/*
 * Header Styles
 */
a.branding{
    &:hover, &:active{
        text-decoration: none;
    }
}
.site-header{
	padding: 50px 0;
	.branding{
		float: left;

		.logo,.logo-type{
			display: inline-block;
			vertical-align: middle;
            i{
                font-size: 2.3em;
            }
		}
		.logo{margin-right: 10px;}
		.site-title{
			margin-bottom: 5px;
			@include em(16);
			color: white;
		}
		.site-description{
			@include em(10);
			display: block;
			color: $body-color;
		}
	}
}

.main-navigation{
	float: right;

	.menu-toggle,.menu{vertical-align: middle}

	.menu-toggle{
		background: none;
		border: 2px solid transparent;
		color: white;
		padding: 20px;
		border-radius: 40px;
		transition: .3s ease;
		display: none;
		outline: none;
		@media screen and (max-width:990px){display: inline-block}

		&:hover, &:active{
			border-color: $accent-color;
			color: $accent-color;
		}
	}

	.menu{
		list-style:none;
		display: inline-block;
		@include clearfix;

		@media screen and (max-width:990px){display: none}

		.menu-item{
			float: left;
			margin-left: 10px;
			a{
				padding: 5px 25px;
				border: 2px solid transparent;
				border-radius: $default-radius;
				color: white;
				transition: .3s ease;
				font-weight: 400;
			}

			&.current-menu-item,&:hover{
				a{
					border-color: $accent-color;
					color: $accent-color;
				}
			}
		}
	}
}

.mobile-navigation{
	padding: 30px 0 0;
	clear: both;
	display: none;
	@media screen and (min-width:991px){display: none!important}

	.menu{
		background: $secondary-color;
		list-style: none;
		text-align: center;
		border-radius: $default-radius;
		overflow: hidden;

		a{
			padding: 20px;
			display: block;
			color: white;
		}

		.menu-item{
			border-bottom: 1px solid rgba(255,255,255,.1);
			&:last-child{border-bottom: none}

			&.current-menu-item a{
				color: $accent-color;
			}
		}
	}
}

.hero{
	background-size: cover;
	padding: 70px 0;
	min-height: 350px;
}

.find-location{
	position: relative;
	margin-bottom: 70px;
	input[type="text"]{
		width: 100%;
		padding: 20px 50px 20px 20px;
		background: $bg-color;
		color: white;
	}
	input[type="submit"]{
		position: absolute;
		top: 5px;
		right: 5px;
		bottom: 5px;
		padding: 0 40px;
	}
}

