// Font family
$primary-font      : "Raleway", sans-serif;
$secondary-font    : serif;


// Color Variables
$accent-color      : #009ad8;
$primary-color     : $accent-color;
$secondary-color   : #262936;
$bg-color: #1e202b;

$strong-color      : #fff;
$body-color        : #bfc1c8;

// Grid system
$grid-columns      : 12 !default;
$grid-gutter-width : 30px !default;

//others
$default-radius: 10px;

//RWD break points
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 769px,
  lg: 992px,
  xl: 1200px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  xs: 320px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

//RWD mixins
@mixin when($break) { 
    @if $break == 'xs'{
        @media (max-width: #{map-get($container-max-widths, $break)}) { @content; } 
    }@else if map-has-key($container-max-widths, $break) {
        @media (min-width: #{map-get($container-max-widths, $break)}) { @content; } 
    }
}