@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?20065150');
  src: url('../font/fontello.eot?20065150#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?20065150') format('woff2'),
       url('../font/fontello.woff?20065150') format('woff'),
       url('../font/fontello.ttf?20065150') format('truetype'),
       url('../font/fontello.svg?20065150#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?20065150#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-celcius:before { content: '\e800'; } /* '' */
.icon-fahrenheit:before { content: '\e801'; } /* '' */
.icon-compass:before { content: '\e802'; } /* '' */
.icon-temperature:before { content: '\e803'; } /* '' */
.icon-sunrise:before { content: '\e804'; } /* '' */
.icon-sun:before { content: '\e805'; } /* '' */
.icon-moon:before { content: '\e806'; } /* '' */
.icon-mist:before { content: '\e807'; } /* '' */
.icon-wind:before { content: '\e808'; } /* '' */
.icon-snowflake:before { content: '\e809'; } /* '' */
.icon-cloud-sun:before { content: '\e80a'; } /* '' */
.icon-cloud-moon:before { content: '\e80b'; } /* '' */
.icon-fog-sun:before { content: '\e80c'; } /* '' */
.icon-fog-moon:before { content: '\e80d'; } /* '' */
.icon-fog-cloud:before { content: '\e80e'; } /* '' */
.icon-fog:before { content: '\e80f'; } /* '' */
.icon-cloud:before { content: '\e810'; } /* '' */
.icon-cloud-flash:before { content: '\e811'; } /* '' */
.icon-drizzle:before { content: '\e812'; } /* '' */
.icon-rain:before { content: '\e813'; } /* '' */
.icon-windy:before { content: '\e814'; } /* '' */
.icon-windy-rain:before { content: '\e815'; } /* '' */
.icon-snow:before { content: '\e816'; } /* '' */
.icon-snow-heavy:before { content: '\e817'; } /* '' */
.icon-hail:before { content: '\e818'; } /* '' */
.icon-clouds:before { content: '\e819'; } /* '' */
.icon-clouds-flash:before { content: '\e81a'; } /* '' */
.icon-pressure:before { content: '\e81b'; } /* '' */
.icon-droplet:before { content: '\e81c'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */