
.icon-celcius:before { content: '\e800'; } /* '' */
.icon-fahrenheit:before { content: '\e801'; } /* '' */
.icon-compass:before { content: '\e802'; } /* '' */
.icon-temperature:before { content: '\e803'; } /* '' */
.icon-sunrise:before { content: '\e804'; } /* '' */
.icon-sun:before { content: '\e805'; } /* '' */
.icon-moon:before { content: '\e806'; } /* '' */
.icon-mist:before { content: '\e807'; } /* '' */
.icon-wind:before { content: '\e808'; } /* '' */
.icon-snowflake:before { content: '\e809'; } /* '' */
.icon-cloud-sun:before { content: '\e80a'; } /* '' */
.icon-cloud-moon:before { content: '\e80b'; } /* '' */
.icon-fog-sun:before { content: '\e80c'; } /* '' */
.icon-fog-moon:before { content: '\e80d'; } /* '' */
.icon-fog-cloud:before { content: '\e80e'; } /* '' */
.icon-fog:before { content: '\e80f'; } /* '' */
.icon-cloud:before { content: '\e810'; } /* '' */
.icon-cloud-flash:before { content: '\e811'; } /* '' */
.icon-drizzle:before { content: '\e812'; } /* '' */
.icon-rain:before { content: '\e813'; } /* '' */
.icon-windy:before { content: '\e814'; } /* '' */
.icon-windy-rain:before { content: '\e815'; } /* '' */
.icon-snow:before { content: '\e816'; } /* '' */
.icon-snow-heavy:before { content: '\e817'; } /* '' */
.icon-hail:before { content: '\e818'; } /* '' */
.icon-clouds:before { content: '\e819'; } /* '' */
.icon-clouds-flash:before { content: '\e81a'; } /* '' */
.icon-pressure:before { content: '\e81b'; } /* '' */
.icon-droplet:before { content: '\e81c'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */